@import url(variables.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: GothamBold;
    color: #ffff
}

body{
    background-color: var(--color-two);
    padding: 10px
}


#main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 10px;
    background-color: var(--color-two)
    
}

.left, .center, .right{
    background-color: var(--color-one);
    border-radius: 5px;
    height: 98vh;
    padding: 15px

}

.searchBox {
    background-color: var(--color-three);
    width: 90%;
    height: 5vh;
    border-radius: 100px;
    padding: 10px;
    

}

input{

    color: var(--color-two);
    height: 2vh;
    width: 80%;
    background-color: var(--color-three);
    border: none
    
}





