@import url(variables.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: GothamBold;
    color: #ffff
}

body{
    background-color: var(--color-two);
    padding: 10px
}


#main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 10px;
    background-color: var(--color-two)
    
}

.discover__new__music, .now__playing, .track__list{
    background-color: var(--color-one);
    border-radius: 5px;
    height: 97vh;
    padding: 15px

}


.searchBox i{
    color: #bbbbbb;
    position: absolute;
    top: 24px;
    left: 12px;
}

.searchBox:hover > i{
    color: white;
}


.searchBox {
    position: relative;
    height: 28px;

}



.textSearch {
    width: 100%;
    background-color: #242424;
    border: 0;
    border-radius: 500px;
    color: #fff;
    height: 40px;
    padding: 6px 36px;
    margin-block: 12px;
    overflow: ellipsis;
}

.textSearch:hover {
    box-shadow: 0px 0px 1.5px rgb(197, 197, 197);
    background-color: #282828;
}




