@font-face {
    font-family: GothamBook;
    src: url(../storage/fonts/GothamBook.ttf);
}

@font-face {
    font-family: GothamBold;
    src: url(../storage/fonts/GothamBold.ttf);
}

:root {
    --color-green: #1db954;
    --color-one: #121212;
    --color-two: #000000;
    --color-three: 	#242424;
    --color-gray: 	#b3b3b3;

}